form{
    margin-left: 200px;
    margin-right: 200px;
    height: 320px;
    padding:500;
    background-color: powderblue;
}
.left-coloumn{
    width: 50%;
}
.right-coloumn{
    width: 50%;
    border-left: 5px;
}

#b1,#b2,#b3,#b4,#b5{
    text-align: center;
    padding-left: 520px;
    color: firebrick;
    font-weight: bold;
    font-size: 30px;
}
h1{
    color: red;
    background-color: orchid;
}
.button{
    margin-left: 600px;
    margin-top: 50px;
    border-radius: 20px;
    font-size: 50px;
    color: white;
}
